# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/

# Database
*.db

# Output files
visualization/output/

# Environment
.env
.venv
venv/

# IDE
.idea/
.vscode/
*.swp
